export(
"adj_rand",
"adjlist2adjmat",
"adjlist2edges",
"adjmat2adjlist",
"adjmat2edges",
"clustering_agreement",
"graph_coloring",
"chi2",
"edges2adjlist",
"edges2adjmat",
"F_measure",
"find_connected_components",
"fowlkes_mallow",
"fpr",
"get_chromatic",
"get_confusion",
"get_entity",
"is_valid_coloring",
"jaccard",
"make_adjmat",
"make_er_graph",
"make_graph_chrom",
"max_match",
"meila_heckerman",
"mirkin",
"mqcpp",
"mutual_info",
"rand",
"resolve_entities",
"tpr",
"van_dongen"
)

importFrom(Rcpp,sourceCpp)
useDynLib(GCMER, .registration = TRUE)

